pipeline/DownloadMBEFile.json
{
	"name": "DownloadMBEFile",
	"properties": {
		"activities": [
			{
				"name": "ForEach_XLSX",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter XLSX",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter XLSX').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Truncate Stage Table",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureShippingDB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "TRUNCATE TABLE dbo.stageMBEImport"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Get FTP File List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MBE_Excel",
						"type": "DatasetReference",
						"parameters": {
							"p_folder": "sftp-root/FROM MBE TO GLS",
							"p_sheet": "Foglio4"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureFileStorageReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter XLSX",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get FTP File List",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get FTP File List').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(equals(item().type,'File'), endswith(item().name,'.xlsx'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pSftpFolder": {
				"type": "string",
				"defaultValue": "sftp-root/FROM MBE TO GLS"
			},
			"pTakenSubfolder": {
				"type": "string",
				"defaultValue": "sftp-root/FROM MBE TO GLS/TAKEN"
			},
			"pExcelSheet": {
				"type": "string",
				"defaultValue": "Foglio4"
			},
			"pArchiveDateFolder": {
				"type": "string",
				"defaultValue": "@formatDateTime(utcNow(),'yyyyMMdd')"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-21T22:47:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}