pipeline/DownloadMBEFile.json
{
	"name": "DownloadMBEFile",
	"properties": {
		"activities": [
			{
				"name": "ForEach_XLSX",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter XLSX",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter XLSX').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Truncate Stage Table",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureShippingDB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "TRUNCATE TABLE dbo.stageMBEImport"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Copy XLSX from MBE",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Truncate Stage Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false,
										"disableChunking": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "First Name",
												"type": "String"
											},
											"sink": {
												"name": "FirstName",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Last Name",
												"type": "String"
											},
											"sink": {
												"name": "LastName",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Company Name",
												"type": "String"
											},
											"sink": {
												"name": "CompanyName",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Mailing Address 1",
												"type": "String"
											},
											"sink": {
												"name": "MailingAddress1",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Mailing Address 2",
												"type": "String"
											},
											"sink": {
												"name": "MailingAddress2",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Mailing City",
												"type": "String"
											},
											"sink": {
												"name": "MailingCity",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Mailing State",
												"type": "String"
											},
											"sink": {
												"name": "MailingState",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Mailing Zip",
												"type": "String"
											},
											"sink": {
												"name": "MailingZip",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Billing First Name",
												"type": "String"
											},
											"sink": {
												"name": "BillingFirstName",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Billing Last Name",
												"type": "String"
											},
											"sink": {
												"name": "BillingLastName",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Billing Company Name",
												"type": "String"
											},
											"sink": {
												"name": "BillingCompanyName",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Billing Address 1",
												"type": "String"
											},
											"sink": {
												"name": "BillingAddress1",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Billing Address 2",
												"type": "String"
											},
											"sink": {
												"name": "BillingAddress2",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Billing City",
												"type": "String"
											},
											"sink": {
												"name": "BillingCity",
												"type": "nvarchar",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MBE_Excel",
									"type": "DatasetReference",
									"parameters": {
										"p_folder": "sftp-root/FROM MBE TO GLS",
										"p_file": "@item().name",
										"p_sheet": "Foglio4"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "stageMBEImport",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get FTP File List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MBE_Excel",
						"type": "DatasetReference",
						"parameters": {
							"p_folder": "@pipeline().parameters.pSftpFolder",
							"p_sheet": "Foglio4"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"enablePartitionDiscovery": false,
						"disableChunking": false
					}
				}
			},
			{
				"name": "Filter XLSX",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get FTP File List",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get FTP File List').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(equals(item().type,'File'), endswith(item().name,'.xlsx'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pSftpFolder": {
				"type": "string",
				"defaultValue": "sftp-root/FROM MBE TO GLS"
			},
			"pTakenSubfolder": {
				"type": "string",
				"defaultValue": "sftp-root/FROM MBE TO GLS/TAKEN"
			},
			"pExcelSheet": {
				"type": "string",
				"defaultValue": "Foglio4"
			},
			"pArchiveDateFolder": {
				"type": "string",
				"defaultValue": "@formatDateTime(utcNow(),'yyyyMMdd')"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-21T22:47:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}